@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell.Navigation

@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="ProfilesApp">
<head>
    <title>@ViewBag.Title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

    <!-- Shell -->
    @Html.Raw(ClientResources.RenderResources("ShellCore"))
    @Html.Raw(ClientResources.RenderResources("ShellWidgets"))
    @Html.Raw(ClientResources.RenderResources("ShellCoreLightTheme"))
    @Html.Raw(ClientResources.RenderResources("DojoDashboardCompatibility", new[] { ClientResourceType.Style }))
    @Html.Raw(ClientResources.RenderResources("Navigation"))

    @Html.Raw(Html.ShellCssLink("ClientResources/epi/themes/legacy/system.css"))
    @Html.Raw(Html.ShellCssLink("ClientResources/epi/themes/legacy/ShellCore.css"))
    @Html.Raw(Html.ShellCssLink("ClientResources/epi/themes/legacy/ShellCoreLightTheme.css"))
    <link rel="stylesheet" type="text/css" href="@Url.Content("/App_Themes/Default/Styles/ToolButton.css")" />
</head>
<body>
    @Html.Raw(Html.ShellInitializationScript())
    @Html.Raw(EPiServer.Shell.Navigation.MenuHelper.CreatePlatformNavigationMenu())

    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>

